<html>
    <head>   
      <%- include('./layout/head'); %> 
    </head>

    <body>
    
    <%- include('./layout/header'); %> 
    
	<main role="main">

		  <!-- Main jumbotron for a primary marketing message or call to action -->
		  <div class="jumbotron">
			<div class="container">
			  <h1 class="display-3">ATN SHOP !</h1>
			  <p>ATN is a Vietnamese company which is selling toys to teenagers in many provinces all over Vietnam. The company has the revenue over 500.000 dollars/year. Currently each shop has its own database to store transactions for that shop only. Each shop has to send the sale data to the board director monthly and the board director need lots of time to summarize the data collected from all the shops. Besides the board can’t see the stock information update in real time.</p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Read more »</a></p>
			</div>
	

	</main>


	
	</body>
	
	<footer>
		<%- include('./layout/footer'); %>
	</footer>
	
</html>